/*RESPOSIVIDADE GERAL*/


/*Estilo para tablets*/

@media only screen and (min-width: 768px) and (max-width: 1100px) {

     /*redes sociais fixo*/

     .rede-icone-slides{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        z-index: 1;
        color: #ffffff;
       margin-top: -20%;
    }

   .icon-instagram{
    margin-left:0;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);border-radius: 30px;
    
   }

   .icon-facebook{

    color: #3b5998; 
    font-size: 33px;
   }
   .icon-spotify{
    color:#1DB954; 
    font-size: 33px;
   }

   .icon-youtube{
    color: #bb0000;
    font-size: 33px;
   }
    .rede-icone-slides ul{
        flex-direction: row;
        display: flex;
        z-index: 1; 
        position: absolute;
    }
    
    .rede-icone-slides li a i {
        padding: 2px;
    }

    /*imagens destinos procurados index*/
    .bg-galeria-fotos-destino{
        margin-top: 2%;
        padding: 20px 0;
        background-color: var(--cor-white);
    }
    .img-destinos{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
      
      .zoom-effect-container {
        float: left;
        position: relative;
        width: 100%;
        height:400px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .image-card img{
        width: 100%;
        height:400px;
        padding: 2px;
    }
    .image-card img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
    }
    
    .zoom-effect-container:hover .image-card img {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
    
    /*info do destino index*/

    /*info destino img*/

.info-img-destino{
    margin-top: 5%;
    position:absolute;
   color: #ffffff;
    display: flex;
  padding: 30px;
    flex-direction: column;
    z-index: 0;
    
}
.info-img-destino h3{
    text-align: center;
    width: 90px;
    background: #565861;
    border-radius: 7px;
}
.info-img-destino h3, h2{
    font-size: 1.4em;
   
}
.icone-fav, .icone-seta{
    padding: 30px 0;
}
.icone-fav:hover{
    color: #C0513E;
}
.icone-seta:hover{
    color: #3E528D;
}
    /*AREA CURIOSIDADES ICONES INDEX*/

     /*RESPOSIVIDADE MARANHÃO ESTÁ NA MODA*/
     #card {
        width: 250px;
        height: 480px;
        background-color: var(--cor-white);
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0px 5px 5px rgba(187, 203, 217, 0.25), 10px 0px 10px rgba(187, 203, 217, 0.2);
        transition: all 0.5s;
    }

    /*CALENDARIO*/
    .calendario {
        flex-direction: column;
        padding: 10px 0;
    }

    /*FOOTER*/

    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .redes h2 {
        color: var(--cor-letra-menu);
        font-size: 1.2em;
        text-align: center;
        padding: 10px 0;
    }
    
    .redes li {
        color: var(--cor-letra-menu);
        font-size: 1em;
        text-align: justify;
    }

    .contato li{
        max-width: 300px;
    }
    
    
    
   
}


/*Estilo para smartphone TELAS DE 425PX A 787*/

@media only screen and   (max-width: 767px) {

    .cadastur img{
        width: 200px;
        height: 80px;
    }
    .cadastur{
        display: flex; padding: 0 15px;
    }
    .cadastur a{
        padding-left:0px;
    }
    
    /*AREA CURIOSIDADES ICONES INDEX*/
    .bg-curiosidades-ma {
        padding: 20px 5px;
        margin-top: 20%;
    }
    .curiosidade-ma {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .icone-curiosidade img {
        width: 60px;
        height: 60px;
    }
    .titulo-all {
        text-align: center;
        font-size: 18px;
        line-height: 1rem;
        color: var(--cor-principal);
    }
    .icones-curiosidades {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .icones-curiosidades a {
        margin: 0 2px;
        text-decoration: none;
        font-size: 15px;
        color: #0e2431;
        font-weight: 500;
    }
    /*RESPOSIVIDADE MARANHÃO ESTÁ NA MODA*/
    .titulo-all {
        text-align: center;
        font-size: 18px;
        line-height: 1rem;
        color: var(--cor-principal);
    }
    .bg-maranhao-moda {
        padding: 20px 10px;
    }
    .cards-maranhao-moda {
        flex-direction: column;
        padding: 10px 0;
    }
    #card {
        width: 250px;
        height: 400px;
        margin-top: 5%;
    }
    .img-maranhao-moda img {
        width: 250px;
        height: 170px;
        border-radius: 5px 5px 0px 0px;
    }
    .titulo-card-maranhao-moda h2 {
        text-align: left;
        padding: 10px 5% 15px 5%;
        margin-top: 1%;
        font-size: 16px;
        color: var(--cor-preto);
    }
    .texto-card-maranhao-moda p {
        padding: 0px 5% 10px 5%;
        text-align: left;
        margin-top: 1%;
        font-size: 14px;
        color: var(--cor-cinza);
    }
   
    .botao-veja-mara-moda {
        margin-top: 4%;
    }
    #card:hover {
        display: none;
    }
    /*RESPONSIVIDADE NOTICIAS MA-MODA*/
    .imagem-da-noticia img {
        background-image: url('../img/banner6.png');
        width: 100%;
        height: 200px;
    }
    .container-noticias {
        padding: 30px 5px;
        background-color: var(--cor-white);
    }
    .navegacao-paginas {
        padding: 10px;
        gap: 0px;
    }
    .titulo-da-noticia blockquote {
        margin: 2% 0;
        padding: 10px;
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        color: #2c3040;
    }
    .titulo-da-noticia h3 {
        padding: 10px;
        font-style: italic;
        font-size: 1.1em;
        line-height: 1.2em;
        text-align: left;
        color: #2c3040;
    }
    .textos-paragrafo p {
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: justify;
        padding: 10px;
        color: var(--cor-texto-blog);
    }
    /*RESPONSIVIDADE CALENDARIO*/
     .event_container{
    width:100%;
     height:480px;
     background: #fff;
    flex-direction: column;
  }
    .event_bg{
      width:100%;
      height:250%;
      min-height: 250px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 0;
    }
    .event_info{
      width:100%;
      height:230px;
    }
    .bg-calendario {
        padding: 20px 10px;
    }
    .calendario {
        flex-direction: column;
        padding: 10px 0;
    }
    .imagem-calendario img {
        cursor: pointer;
        width: 355px;
        height: 250px;
        padding: 0;
    }
    .botao-veja-mara-moda {
        margin-top: 4%;
    }
    /*RESPONSIVIDADE INSTAGRAM*/
    .bg-instagram {
        padding: 20px 10px;
    }
    .instagram {
        margin: 0 auto;
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card-instagram {
        flex-direction: column;
        padding: 10px 0;
    }
    .card-instagram img {
        width: 150px;
        height: 150px;
        cursor: pointer;
        margin: 0 10px;
    }
    .botao-instagram {
        margin-top: 4%;
        margin-bottom: 2%;
    }
    /*RESPONSIVIDADE CONHEÇA O MARANHÃO*/
    .texto-sobre p {
        font-size: 0.9em;
        line-height: 1.2em;
        letter-spacing: 0.5px;
        text-align: left;
        color: var(--cor-cinza);
        padding-bottom: 10px;
    }
    /*RESPONSIVIDADE INFORMAÇÕES ÚTEIS*/
    .bg-info-uteis {
        padding: 30px 10px;
    }
    .cards-info {
        flex-direction: column;
    }
    .card-info {
        flex-direction: column;
    }
    .img-info img {
        padding: 15px 0;
        width: 300px;
        height: 200px;
    }
    .textos-info {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    .textos-info span {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
    }
    /*CIDADE ESCOLHIDA NO ROTEIRO DE P/ ONDE IR*/
    .bg-cidade-roteiro {
        padding: 30px 10px;
        margin-top: 4%;
        background-color: var(--cor-white);
    }
    .textos-cidade-roteiro {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .texto-cidade p {
        font-size: 14px;
        line-height: 1.2em;
        letter-spacing: 0.5px;
        color: var(--cor-cinza);
        text-align: left;
        margin: 15px;
        word-break: break-word;
    }
    .img-tour {
        width: 190px;
        height: 150px;
    }
    /*Destino segmento turistico*/
    .como-chegar h2 {
        padding: 10px 15px;
        color: var(--cor-principal);
        font-weight: bold;
    }
    /*SLIDER PRINCIPAL*/
    .banner-slides img {
        width: 100%;
        height: 500px;
    }
    /*SLIDES ROTEIROS - SEGEMENTO TURISTICO - O QUE VOCÊ PROCURA?*/
    .titulo-slides {
        padding: 10px 0;
        text-align: center;
        font-size: 1.1em;
        color: var(--cor-principal);
    }
    .imagens-galeria img {
        width: 160px;
        height: 250px;
        border-radius: 4px;
    }
    /*SLIDES GALERIA DE FOTOS*/
    .bg-galeria-fotos {
        padding: 30px 30px;
        margin-top: 2%;
        background-color: var(--cor-white);
    }
    .imagens-galeria-fotos img {
        width: 100%;
        height: 200px;
        border-radius: 2px;
    }
/*===Modal===*/

.modal-overlay {
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 1;
    overflow: auto;
    z-index: 3;
    
    
  }
  
  
  
  .modal {
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
  }
  
  .modal .close-modal {
    font-size: 25px;
    color: var(--cor-white);
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
   
    z-index: 3;
  }
  
  /*===Modal.Active===*/
  .modal-overlay.ativar {
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }

  .modal-overlay.desativar{
    visibility: hidden;
  }
  
  #title-pesquisa{
      display: flex;
      justify-content: center;
      align-items: center;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 60px 0;
    color: var(--cor-white);
}
  .buscar-aparece{
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
 
  .buscar-aparece input{
    color: #fff;
    font-size: 14px;
    font-family: 'FF_Clan_OT_News';
    background: transparent;
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e6e6e;
    padding-left: 10px;
  }

  #buscar-icone-modal{
      margin-left: 0 25px;
  }
    /*FOOTER*/

    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .redes h2 {
        color: var(--cor-letra-menu);
        font-size: 1.2em;
        text-align: center;
        padding: 10px 0;
    }
    
    .redes li {
        color: var(--cor-letra-menu);
        font-size: 1em;
        text-align: justify;
    }

    .contato li{
        max-width: 300px;
    }
    
    /*dropdown*/

    .dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .icone-p-onde-ir img{
        display: none;
    }
    
    
    
    .dropdown  li .columns {
        display: flex;
        position:absolute; /* Importante para posicionar o conteúdo do dropdown */
        left:-9999px; /* Esconde o dropdown quando o mouse não está em cima do link */
        background:var(--cor-white);
        width: 100%;
    }
    .dropdown li:hover .columns{
        left:0;
    }
    .dropdown  ul li {
    
        font-size:12px;
    }
    .dropdown  li ul.col{
        margin-top: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        padding:0;
        flex-direction: column;
        width:100%;
    }
    .dropdown  li ul.col li {
        display: flex;
        border-bottom:1px solid #fff;
        list-style-type:none;
        font-size:12px;
        position:relative;
        flex-direction: column;
    }
    .dropdown  li .col li:hover {
    
        border-bottom:1px solid #aaa;
    }
    .dropdown li .col span{
        padding-left: 0px;
        font-size:9px;
        color:#333;
        font-weight:bold;
    }
    .dropdown  li .col li a{
        padding: 0;
        font-size:9px;
        color:#aaa;
    }
    .dropdown  li .col li a:hover{color:#333;}
      
    /*redes sociais fixo*/

    .rede-icone-slides{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        z-index: 1;
        color: #ffffff;
       margin-top: -20%;
    }

   .icon-instagram{
    margin-left:0;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);border-radius: 30px;
    
   }

   .icon-facebook{

    color: #3b5998; 
    font-size: 33px;
   }
   .icon-spotify{
    color:#1DB954; 
    font-size: 33px;
   }

   .icon-youtube{
    color: #bb0000;
    font-size: 33px;
   }
    .rede-icone-slides ul{
        flex-direction: row;
        display: flex;
        z-index: 1; 
        position: absolute;
    }
    
    .rede-icone-slides li a i {
        padding: 2px;
    }

    /*imagens destinos procurados index*/
    .bg-galeria-fotos-destino{
        margin-top: 2%;
        padding: 20px 0;
        background-color: var(--cor-white);
    }
    .img-destinos{
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
      
      .zoom-effect-container {
        float: left;
        position: relative;
        width: 100%;
        height:400px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .image-card img{
        width: 100%;
        height:400px;
        padding: 2px;
    }
    .image-card img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
    }
    
    .zoom-effect-container:hover .image-card img {
      -webkit-transform: scale(1.08);
      transform: scale(1.08);
    }
    
    /*info do destino index*/

    /*info destino img*/

.info-img-destino{
    margin-top: 5%;
    position:absolute;
   color: #ffffff;
    display: flex;
  padding: 30px;
    flex-direction: column;
    z-index: 0;
    
}
.info-img-destino h3{
    text-align: center;
    width: 90px;
    background: #565861;
    border-radius: 7px;
}
.info-img-destino h3, h2{
    font-size: 1.4em;
   
}
.icone-fav, .icone-seta{
    padding: 30px 0;
}
.icone-fav:hover{
    color: #C0513E;
}
.icone-seta:hover{
    color: #3E528D;
}
    
}

