/*SLIDER PRINCIPAL*/


.banner-slides img{
  
 
  width: 100%;
  height: 850px;
}

/*JS DO SLIDE*/
[data-slide]{position:relative}
[data-slide]>*{position:absolute;top:0;opacity:0;pointer-events:none}
[data-slide]>.active{position:relative;opacity:1;transition:opacity .5s;z-index:1;pointer-events:auto; }

[data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
}
[data-slide-nav] > button {
  z-index: 3;
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  z-index: 2;
  background: var(--cor-principal);
}

.titulo-slides {
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em;
  color: var(--cor-principal);
  font-weight: 500;
}
/*SLIDER O QUE VOCÊ PROCURA*/
.bg-slider-aventuras {
  margin-top: 3%;
  padding: 60px 10px;
  background-color: var(--cor-white);
}

.slider-aventuras{
  display: flex;
}
.cards-slides-aventuras{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aventuras-slides img{
  width: 200px;
  height: 340px;
}

/*SLIDES DICAS DE UM TURISTA*/

/*DICAS DE UM TURISTA*/

.bg-dicas-turistas{
  margin-top: 3%;
  padding: 60px 10px;
  background-color: var(--cor-white);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icone-dica-turista img{
  width: 70px;
  height: 60px;
}
.slide-dicas-turista {
	padding: 10px 0;
	max-width: 460px;
	margin: 0 auto;
}

.texto-dica-turista p{
	text-align: left;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1.2em;
	line-height: 1.1em;
	font-style: italic;
  margin-bottom: 20px;
  color: var(--cor-principal);
}

.nome-turista {
	font-size: 1em;
	font-weight: bold;
	float: left;
  font-style: normal;
  color: var(--cor-principal);
}

#tag-turista {
  font-size: 1em;
  font-weight:550;
  padding: 15px 0;
  text-align: center;
  color: var(--cor-secundaria);
}

/*SLIDES GALERIA DE FOTOS*/

.wrapperForDemo {
  max-width: 960px;
  margin: 0 auto;
}

.slides-galeria{
  display: flex;
  justify-content: space-around;
}

.bg-galeria-fotos{
  padding: 30px 100px;
  margin-top: 2%;
  background-color: var(--cor-white);
}

.imagens-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagens-galeria-fotos img {
  width: 100%;
  height: 340px;
  border-radius: 2px;
}