@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,400,500,700');
/*CONFIGURAÇÕES GERAIS*/

/* 6 Adicione o CSS Essêncial abaixo */
[data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
  }
  
  /* 7 CSS personalizado dependendo da animação desejada */
  .fadeInDown {
    transform: translate3d(0,-20px,0);
  }
  .fadeInUp {
    transform: translate3d(0,20px,0);
  }
  .fadeInRight {
    transform: translate3d(20px,0,0);
  }
  .fadeInLeft {
    transform: translate3d(-20px,0,0);
  }


:root {
    --cor-bg: #eff0f3;
    --cor-white: #FFFFFF;
    --cor-secundaria: #C0513E;
    --cor-principal: #3E528D;
    --cor-cinza: #5e5959;
    --cor-preto: #121212;
    --cor-letra-menu: #606063;
    --cor-textos: ;
    --cor-texto-blog: #2c3040;
}

body {
    background-color: #F5F7F7;
}
a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    display: flex;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items: center;
    /*Mudando a cor de fundo do menu*/
    background: #ffffff;
    /*Fonte do menu*/
    padding: 10px 0;
    position: fixed;
    z-index: 2;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position:relative;
}

.nav-links a{
    /*Mudando a cor dos itens*/
    color: var(--cor-letra-menu);
    font-size: 1.1em;
    font-weight: 400;
    padding: 10px;
    text-align: center;
}
.nav-links a:hover{
    color: var(--cor-secundaria);
}
.hover-icone img:hover{
    color: var(--cor-secundaria);
}

.burger {
    /*Não deixando o menu hambuguer visivel */
    display: none;
    /*aparecendo a maozinha quando clica no menu hambuguer*/
    cursor: pointer;
}

.burger div {
    /*Ajeitando o menu Hambuguer*/
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}


/*Ajustando a altura*/

@media screen and (max-width:1024px) {
    .nav-links {
        display: flex;
        /*Jogar os itens para o canto da página*/
        justify-content: stretch;
        align-items: center;
        /*Mudando a cor de fundo do menu*/
        background-color: var(--cor-white);
        /*Fonte do menu*/
        margin: 0 auto;
        padding: 15px 0;
    }
    .nav-links a {
        /*Mudando a cor dos itens*/
        color: #ffffff;
        font-size: 1.1em;
        display: block;
        padding: 10px 5px;
        text-align: center;
        text-transform: uppercase;
    }
}


/*Ajustando a altura minima*/

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links a {
        text-align: center;
        font-size: 1.2em;
    }
    /*ajustando os itens para se adequar a altura min.*/
    .nav-links {
        position: fixed;
        right: 0px;
        top: 10vh;
        /*Arrumando o menu hambuguer*/
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 100vh;
        /*Ajeitando a transição parar abrir o menu hambuguer*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        /*para aparecer o menu hambuguer quando a tela tiver pequena*/
        display: block;
    }
}


/*Quando se clica no menu hambuguer, consegue abrir os itens*/

.nav-active {
    transform: translateX(0%);
}


/*Animações quando se clica no menu hamburguer*/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/*Transformando o menu em X*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
    .nav-links.nav-active li {
        opacity: 1;
    }
}


/*INICIO DOS ESTILOS DOS DOCUMETOS*/


/*CURIOSIDADE MARANHÃO*/

.bg-curiosidades-ma {
    margin-top: 30%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.curiosidade-ma {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo-all {
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem;
    color: var(--cor-principal);
}

.icones-curiosidades {
    display: flex;
    justify-content: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.icones-curiosidades a {
    margin: 0 15px;
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
}

.icone-curiosidade img {
    width: 100px;
    height: 100px;
}

.icone-curiosidade:hover{
        fill: #d52b1e;
}


/*MARANHÃO ESTÁ NA MODA*/

.bg-maranhao-moda {
    margin-top: 3%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.cards-maranhao-moda {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#card {
    width: 250px;
    height: 480px;
    background-color: var(--cor-white);
    border-radius: 5px;
    margin: 0 20px;
    box-shadow: 0px 5px 5px rgba(187, 203, 217, 0.25), 10px 0px 10px rgba(187, 203, 217, 0.2);
    transition: all 0.5s;
}

.img-maranhao-moda img {
    width: 250px;
    height: 220px;
    border-radius: 5px 5px 0px 0px;
}

#card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.);
}

.titulo-card-maranhao-moda h2 {
    text-align: left;
    padding: 15px 5% 15px 5%;
    margin-top: 2%;
    font-size: 1.2rem;
    color: var(--cor-preto);
}

.texto-card-maranhao-moda p {
    padding: 0px 5% 10px 5%;
    text-align: left;
    margin-top: 2%;
    font-size: 1rem;
    color: var(--cor-cinza);
}

.botao-saiba-mara-moda {
    cursor: pointer;
    margin-top: 5%;
    margin-left: 5%;
    width: 105px;
    height: 39px;
    background-color: var(--cor-secundaria);
    color: var(--cor-white);
    border: none;
    border-radius: 5px;
}

.botao-veja-mara-moda {
    margin-top: 2%;
    cursor: pointer;
    width: 105.28px;
    height: 39.67px;
  
    color: var(--cor-white);
    border: none;
    border-radius: 5px;
}


/*CALENDÁRIO*/

.bg-calendario {
    margin-top: 3%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.calendario {
    
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-calendario img {
    cursor: pointer;
    width: 290px;
    height: 230px;
}

.event_container{
  display: flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:230px;
  background: #fff;
  max-width: 750px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.25), 0 8px 8px 0 rgba(0,0,0,.15);
  margin: 20px 10px;  
  
}


  .event_bg{
   width:40%;
   height:100%;
   background: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .event_info {
    width:60%;
    height:100%;
    padding: 10px 0px;
    
}
    .event_title{
      display: flex;
      width:100%;
      height:50px;
      text-align: left;
      padding: 0 20px;
      align-items: center;
}
      h4{
        color: var(--cor-principal);
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .event_desc{
      display: flex;
      width:100%;
      height:calc(100% - 100px);
      text-align: left;
      padding: 0 20px;
}
      p{
        font-size: 16px;
        font-weight: 500;
        color: #565861;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .event_footer{
      display: flex;
      width:100%;
      height:50px;
      align-items: center;
      justify-content: space-between;
}
      .event_date p{
        font-size: 15px;
        font-weight: 600;
        color: #333;
        text-align: left;
        padding: 0 20px;
      }

      .event_more{
        display: flex;
        width:auto;
        height:100%;
        align-items: center;
}
        a.btn_more{
          display: flex;
          width:auto;
          height:40px;
          align-items: center;
          padding: 0 15px;
          text-decoration: none;
          color: var(--cor-secundaria);
          font-size: 16px;
          font-weight: 600;
          border-radius: 2px;
          margin:0 10px;
          transition: background .3s, color .2s ease-in;
}

a.btn_more:hover{
    background: var(--cor-secundaria);
    color: #FFF;
    margin:0 10px;
}


/*INSTAGRAM*/

.bg-instagram {
    margin-top: 3%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.instagram {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-instagram img {
    width: 250px;
    height: 224.62px;
    cursor: pointer;
    margin: 0 20px;
}

.botao-instagram{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.botao-instagram button {
    cursor: pointer;
    margin-top: 3%;
    width: 150px;
    height: 39.67px;
    background-color: var(--cor-secundaria);
    color: var(--cor-white);
    border: none;
    border-radius: 5px;
   
}


/*PAGINA CONHEÇA O MARANHÃO*/

.bg-sobre {
    margin-top: 30%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.borda-titulo h2 {
    border-bottom: 2px solid #C0513E;
    width: 59px;
    height: 5px;
}

.texto-sobre {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texto-sobre p {
    font-size: 1.2em;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--cor-cinza);
    padding-bottom: 10px;
}


/*PÁGINA INFORMAÇÕES ÚTEIS*/

.bg-info-uteis {
    padding: 60px 10px;
    margin-top: 30%;
    background-color: var(--cor-white);
}

.cards-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.borda {
    border-bottom: 1px solid #121212;
}

.borda:last-child {
    border-bottom: none;
}

.card-info {
    padding: 20px 0px;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.textos-info {
    display: flex;
    padding: 0 20px;
}

.textos-info span {
    max-width: 450px;
    color: var(--cor-cinza);
    font-size: 1em;
    line-height: 1.2em;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.img-info img {
    padding: 15px 0;
    width: 300;
    height: 200;
}


/* MESMO ESTILO PARA MARANHÃO DE ENCANTOS E CIDADE TOUR*/

.bg-cidade-roteiro {
    padding: 20px 10px;
    margin-top: 30%;
    background-color: var(--cor-white);
}

.textos-cidade-roteiro {
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.texto-cidade {
    display: flex;
}

.texto-cidade p {
    max-width: 670px;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: var(--cor-cinza);
    text-align: left;
    margin: 0px 60px;
    word-break: break-word;
}

.texto-cidade-tour {
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-tour {
    width: 300px;
    height: 220px;
}


/*FOOTER*/

.footer {
    padding: 30px 10px;
    margin-top: 2%;
    background-color: var(--cor-white);
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.redes h2 {
    color: var(--cor-letra-menu);
    font-size: 1.4em;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 0;
}

.redes li {
    color: var(--cor-letra-menu);
    font-size: 1.2em;
    text-align: justify;
}
.rede-icone {
    margin-top: 2%;
}

.rede-icone i:hover {
    color: var(--cor-principal);
}

.rede-icone i {
    color: var(--cor-cinza);
    text-align: left;
    padding: 0px 5px;
    font-size: 30px;
}

.logo-footer {
    width: 100%;
}


/*PAGIINAS NOTICIAS*/

.imagem-da-noticia img {
    background-image: url('../img/banner6.png');
    height: 300px;
    width: 100%;
}

.container-noticias {
    padding: 60px 10px;
    background-color: var(--cor-white);
}

.navegacao-paginas {
    display: flex;
    padding: 10px 15%;
    gap: 2px;
}

.navegacao-paginas li a {
    font-size: 1em;
    color: var(--cor-cinza);
}

.titulo-da-noticia blockquote {
    margin: 2% 0;
    padding: 10px 15%;
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    text-transform: uppercase;
    color: #2c3040;
}

.titulo-da-noticia h3 {
    padding: 10px 15%;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    color: #2c3040;
}

.textos-paragrafo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textos-paragrafo p {
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: justify;
    padding: 10px 15%;
    color: var(--cor-texto-blog);
}


/*PAGINA DESTINO DO SEGMENTO TURISTICO*/

.img-destino {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-destino-divisor img{
    width: 100%;
    height: 300px;
}
.como-chegar h2 {
    padding: 15px 60px;
    color: var(--cor-principal);
    font-weight: bold;
}


/*===Modal=== */

.modal-overlay {
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 1;
    overflow: auto;
    z-index: 3;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
  
  }
  
  .modal {
   
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    z-index: 3;
  }
  
  .modal .close-modal {
    font-size: 25px;
    color: var(--cor-white);
    position: absolute;
    right: 430px;
    top: 20px;
    cursor: pointer;
    -webkit-transition: opacity 700ms ease-in;
    -moz-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    z-index: 3;
  }
  
  /*===Modal.Active===*/
  .modal-overlay.ativar {
    opacity: 1;
    visibility: visible;
    z-index: 3;
   
  }

  .modal-overlay.desativar{
    visibility: hidden;
  }
  
  #title-pesquisa{
      display: flex;
      justify-content: center;
      align-items: center;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 60px 0;
    color: var(--cor-white);
}
  .buscar-aparece{
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
 
  .buscar-aparece input{
    color: #fff;
    font-size: 14px;
    font-family: 'FF_Clan_OT_News';
    background: transparent;
    width: 620px;
    padding-bottom: 10px;
    border-bottom: 1px solid #6e6e6e;
    padding-left: 10px;
  }

  #buscar-icone-modal{
      margin-left: 0 25px;
  }

 
  /*DROPDONW*/

  
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}




.dropdown  li .columns {
    display: flex;
	position:absolute; /* Importante para posicionar o conteúdo do dropdown */
	left:-9999px; /* Esconde o dropdown quando o mouse não está em cima do link */
	background:var(--cor-white);
	width: 100%;
}
.dropdown li:hover .columns{
	left:0;
}
.dropdown  ul li {

	font-size:12px;
}
.dropdown  li ul.col{
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
	position: relative;
	padding:0;
    flex-direction: column;
	width:100%;
}
.dropdown  li ul.col li {
    display: flex;
	border-bottom:1px solid #fff;
	list-style-type:none;
	font-size:12px;
    position:relative;
    flex-direction: column;
}
.dropdown  li .col li:hover {

	border-bottom:1px solid #aaa;
}
.dropdown li .col span{
    padding-left: 10px;
	font-size:12px;
	color:#333;
	font-weight:bold;
}
.dropdown  li .col li a{
	font-size:12px;
	color:#aaa;
}
.dropdown  li .col li a:hover{color:#333;}
  
  
.cadastur{
    display: flex; padding: 0 15px;
}
.cadastur a{
    display: flex; padding-left:200px;
}

/*temperatura*/


.temperatura {
    
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.temperatura_container{
  display: flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:230px;
  background: #fff;
  max-width: 750px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.25), 0 8px 8px 0 rgba(0,0,0,.15);
  margin: 20px 10px;  
  
}


  .temperatura_bg{
   width:40%;
   height:100%;
   background:#356e84;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .temperatura_bg span{
      margin-top: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-white);
    font-size: 1.4em;
  }

  .temperatura_info {
    width:60%;
    height:100%;
    padding: 10px 0px;
    
}
    .temperatura_title{
      display: flex;
      width:100%;
      height:50px;
      text-align: left;
      padding: 0 20px;
      align-items: center;
}
      h4{
        color: var(--cor-principal);
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    .temperatura_desc{
      display: flex;
      width:100%;
      height:calc(100% - 100px);
      text-align: left;
      padding: 0 20px;
}
      p{
        font-size: 16px;
        font-weight: 500;
        color: #565861;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    .temperatura_footer{
      display: flex;
      width:100%;
      height:50px;
      align-items: center;
      justify-content: space-between;
}
      .temperatura_date p{
        font-size: 19px;
        font-weight: 600;
        color: #333;
        text-align: left;
        padding: 0 20px;
      }

      .temperatura_more{
        display: flex;
        width:auto;
        height:100%;
        align-items: center;
}
        a.temperatura_more{
          display: flex;
          width:auto;
          height:40px;
          align-items: center;
          padding: 0 15px;
          text-decoration: none;
          color: var(--cor-secundaria);
          font-size: 19px;
          font-weight: 600;
          border-radius: 2px;
          margin:0 10px;
          transition: background .3s, color .2s ease-in;
}


.rede-icone-slides{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    z-index: 1;
    color: #ffffff;
   margin-top: -30%;
}
.rede-icone-slides ul{
    flex-direction: column;
    display: flex;
    z-index: 1; 
    position: absolute;
}

.rede-icone-slides li a i {
    padding: 5px;
}

.icon-instagram{
    font-size: 40px;
    
   }

   .icon-facebook{
    
    font-size: 40px;
   }
   .icon-spotify{
  
    font-size: 40px;
   }

   .icon-youtube{
   
    font-size: 40px;
   }

.bg-galeria-fotos-destino{
    margin-top: 2%;
    padding: 60px 10px;
    background-color: var(--cor-white);
}
.img-destinos{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .zoom-effect-container {
    float: left;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.image-card img{
    width: 100%;
    height:auto;
}
.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.camada-imagem-melhores-destinos:after{
    content:"";
    background: rgba(0, 0, 0, 0.45);
    width:100%;
    min-height: 100vh;
    position:absolute;
    left:0;
    top:0;
}

/*info destino img*/

.info-img-destino{
margin-top: 5%;
position:absolute;
color: #ffffff;
display: flex;
padding: 40px;
flex-direction: column;
z-index: 1;

}
.info-img-destino h3{
text-align: center;
width: 90px;
background: #565861;
border-radius: 7px;
}
.info-img-destino h3, h2{
font-size: 1.4em;

}
.icone-fav, .icone-seta{
padding: 30px 0;
}
.icone-fav:hover{
color: #C0513E;
}
.icone-seta:hover{
color: #3E528D;
}

/*ANIMAÇÃO IMAGENS*/

[data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
  }

  .fadeInDown {
    transform: translate3d(0,-20px,0);
  }
  .fadeInUp {
    transform: translate3d(0,20px,0);
  }
  .fadeInRight {
    transform: translate3d(20px,0,0);
  }
  .fadeInLeft {
    transform: translate3d(-20px,0,0);
  }